# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
pip-log.txt
pip-delete-this-directory.txt

# Tests
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache
coverage_report.txt

# IDEs
.vscode
.idea
*.swp
*.swo
